{% block nav %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <a class="navbar-brand" href="{% url 'home' %}"><h2>Archive</h2></a>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <!-- If user is logged in -->
            {% if user.get_username %}
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 text-gray-600 small">{{ user.get_username }}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    Logout
                </a>
            </div>
            <!-- If user is not logged in -->
            {% else %}
            <a class="nav-link" href="{% url 'login' %}" id="userDropdown" role="button">
                <span class="mr-2 text-gray-600 small">Login</span>
]            </a>
            {% endif %}

        </li>

    </ul>

</nav>
{% endblock %}